##Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [11]:
import pandas as pd
data={'Name':['Kanish','Haneef','Mahitha','Charan','Chinna','Varun','Kaushik','Lavanya','Vathsalya','Sainath'],
    'Age': [19,21,18,17,25,23,30,16,28,12],
    'Gender': ['M','M','F','M','M','M','M','F','F','M'],
    'City' : ['Chennai','Hyderabad','Tirupati','Tirupati','Proddatur','Rajahmundry','Amaravati','Pondicherry','Hyderabad','Kadapa'],
    'Martial Status' : ['Single','Single','Married','Married','Married','Single','Single','Married','Single','Single']
   }
data

{'Name': ['Kanish',
  'Haneef',
  'Mahitha',
  'Charan',
  'Chinna',
  'Varun',
  'Kaushik',
  'Lavanya',
  'Vathsalya',
  'Sainath'],
 'Age': [19, 21, 18, 17, 25, 23, 30, 16, 28, 12],
 'Gender': ['M', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'M'],
 'City': ['Chennai',
  'Hyderabad',
  'Tirupati',
  'Tirupati',
  'Proddatur',
  'Rajahmundry',
  'Amaravati',
  'Pondicherry',
  'Hyderabad',
  'Kadapa'],
 'Martial Status': ['Single',
  'Single',
  'Married',
  'Married',
  'Married',
  'Single',
  'Single',
  'Married',
  'Single',
  'Single']}

In [12]:
df=pd.DataFrame(data)
df

        Name  Age Gender         City Martial Status
0     Kanish   19      M      Chennai         Single
1     Haneef   21      M    Hyderabad         Single
2    Mahitha   18      F     Tirupati        Married
3     Charan   17      M     Tirupati        Married
4     Chinna   25      M    Proddatur        Married
5      Varun   23      M  Rajahmundry         Single
6    Kaushik   30      M    Amaravati         Single
7    Lavanya   16      F  Pondicherry        Married
8  Vathsalya   28      F    Hyderabad         Single
9    Sainath   12      M       Kadapa         Single

##Task- 2 Check the info of 'df'

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            10 non-null     object
 1   Age             10 non-null     int64
 2   Gender          10 non-null     object
 3   City            10 non-null     object
 4   Martial Status  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

##Task 3- Check the descriptive statistics of 'df'

In [14]:
df.describe()

             Age
count  10.000000
mean   20.900000
std     5.626327
min    12.000000
25%    17.250000
50%    20.000000
75%    24.500000
max    30.000000

##Task 4- check the 4th index observation with 'loc' slicing operator.

In [15]:
df.loc[4]

Name                 Chinna
Age                      25
Gender                    M
City              Proddatur
Martial Status      Married
Name: 4, dtype: object

##Task 5 - Check the null values in your 'df'

In [16]:
df.isnull().sum()

Name              0
Age               0
Gender            0
City              0
Martial Status    0
dtype: int64

In [17]:
df.isnull().any()

Name              False
Age               False
Gender            False
City              False
Martial Status    False
dtype: bool